.quire-cover__hero {
  background-color: rgba(192,192,192);
  background-image: none;
}


#fig_7_Silk_script, #fig_8_Silk_script {
  width: 50% !important;
}

.quire-page__content .container .content {
    margin-top: 0px;
}

#site-menu  {
  background-color: rgba(192,192,192);
  background-image: url('../img/silk_poem_strand.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-left: 2px solid #000;
}

.quire__secondary a, .quire__secondary button, .quire__secondary .button {
  background-color: transparent;
}


.quire-cover .quire-contributors-list {
  float: left;
  padding: 20px;
  width: 50%;
}
.quire-cover .quire-contents-buttons {
  clear: both;
}
.quire-cover .quire-contributor__pic {
  width: 140px;
}

.quire-contributor__pic {
  border-radius: 0;
}

/* .material-fullscreen {
  display: none;
}
.material-fullscreen:after {
  content: 'arrow_upward' !important;
} */
