.quire-cover__hero {
  background-color: rgba(192,192,192);
  background-image: none;
}

.quire-page__content .container .content {
    margin-top: 0px;
}

#site-menu  {
  background-color: rgba(192,192,192);
  background-image: url('../img/silk_poem_strand.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-left: 2px solid #000;
}

.quire__secondary a, .quire__secondary button, .quire__secondary .button {
  background-color: transparent;
}

/* .material-fullscreen {
  display: none;
}
.material-fullscreen:after {
  content: 'arrow_upward' !important;
} */
